<?xml version="1.0"?>
<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
      <robotNamespace>/yumi</robotNamespace>
    </plugin>

    <plugin name='gazebo_ros_con1' filename='libgazebo_ros_control.so'>
      <robotNamespace>/yumi/con1</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>

    <plugin name='gazebo_ros_con2' filename='libgazebo_ros_control.so'>
      <robotNamespace>/yumi/con2</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>

    <plugin name='gazebo_ros_con3' filename='libgazebo_ros_control.so'>
      <robotNamespace>/yumi/con3</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>

  </gazebo>

</robot>


