<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find yumi_description)/urdf/camera_base/camera_base.gazebo.xacro"/>

    <xacro:macro name="box_inertial" params="mass height width depth">
    <mass value="${mass}"/>
    <inertia ixx="${(mass*(width*width+depth*depth))/12}" ixy="0" ixz="0" iyy="${(mass*(height*height+depth*depth))/12}" iyz="0" izz="${(mass*(height*height+width*width))/12}" />
    </xacro:macro>

	<xacro:macro name="camera_base" params="parent *joint_origin  angle">
		<joint name="camera_base_link_joint" type="fixed">
			<xacro:insert_block name="joint_origin"/>
			<parent link="${parent}"/>
			<child link="camera_base_link"/>
		</joint>

		<link name="camera_base_link">
			<visual>
				<geometry>
					<mesh filename="package://yumi_description/meshes/camera_base/yumi_camera_base.STL"/>
				</geometry>
				<origin rpy="0 0 0" xyz="-0.075 0 0" />
			</visual>
			<collision>
				<geometry>
					<box size="0.15 0.015 0.015"/>
				</geometry>
				<origin xyz="0 0 0" rpy="0 0 0"/>
			</collision>
			<inertial>
				<origin xyz="0 0 0"/>
				<xacro:box_inertial mass="0.2" height="0.15" width="0.015" depth="0.015"/>
			</inertial>
		</link>

		<joint name="camera_base_link_joint_2" type="fixed">
			<origin xyz="0.075 0.0 0" rpy="0.0 0 0.0"/>
			<parent link="camera_base_link"/>
			<child link="camera_base_2_link"/>
		</joint>

		<link name="camera_base_2_link">
			<visual>
				<geometry>
					<mesh filename="package://yumi_description/meshes/camera_base/yumi_camera_base_2.STL"/>
				</geometry>
				<origin rpy="0 ${angle} 0" xyz="0 0 0" />
			</visual>
			<collision>
				<geometry>
					<box size="0.25 0.015 0.015"/>
				</geometry>
				<origin xyz="0.125 0 0" rpy="0 ${angle} 0"/>
			</collision>
			<inertial>
				<origin xyz="0.0 0.0 0.0" rpy="0.0 ${angle} 0.0"/>
				<xacro:box_inertial mass="0.25" height="0.25" width="0.015" depth="0.015"/>
			</inertial>
		</link>
	</xacro:macro>

</robot>